@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

header {
  background-image: url('../img/header-pic.JPG');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  max-height: 150px;
}
h1 {
  font-family: 'Aboreto', Arial, sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin: 0;
  position: fixed;
  top: 20px;
  left: 30px;
  background-color: #a6a6a7;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
nav {
  background-color: #403c3cee;
  text-align: left;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  position: absolute;
  top: 158px;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
nav li {
  display: inline-block;
  margin-right: 35px;
  padding-top: 5px;
}
footer {
  background-color: #403c3cee;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
}
#copyright {
  color: aliceblue;
  text-align: center;
  padding: 0;
  margin: 0;
}
main {
  margin: 25px;
  padding-top: 10px;
}
.hidden {
  display: none;
}
#education {
  list-style: square;
}
#scores-table {
  float: right;
  margin-right: 30%;
  margin-left: 25px;
  margin-bottom: 25px;
}
#scores-table table,
td {
  border: thin solid black;
  background-color: rgb(246, 245, 182);
}
#score-table table {
  width: 100px;
  padding: 20px;
  margin: 20px;
}
.scores {
  width: 30px;
  text-align: center;
}
